[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "amplify-storage-utils"
version = "0.1.6"
description = "Object storage utilities"
readme = "README.md"
authors = [{name = "Joe Futrelle", email = "jfutrelle@whoi.edu"}]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
keywords = ['storage']
dependencies = [
    'boto3',
    'aiobotocore',
    'aiofiles',
    'aiosqlite',
    'pyyaml',
    'pyifcb @ git+https://github.com/joefutrelle/pyifcb.git@v1.2.1',
]
[project.optional-dependencies]
test = [
  "pytest>=8.0",
  "pytest-asyncio"
]

[tool.hatch.build.targets.wheel]
packages = ["src/storage"]

[tool.hatch.metadata]
allow-direct-references = true

[project.urls]
Repository = "https://github.com/WHOIGit/amplify-storage-utils"
